//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.2beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Tue 10 15 11:23:18 2019

IO_LOC "sys_clk" 35;
IO_LOC "sys_rst_n" 15;
IO_LOC "led[0]" 16;
IO_LOC "led[1]" 17;
IO_LOC "led[2]" 18;
