# Written by Synplify Pro version mapgw, Build 1429R. Synopsys Run ID: sid1567970729 
# Top Level Design Parameters 

# Clocks 
create_clock -period 13.269 -waveform {0.000 6.634} -name {PSRAM_RDFIFO|WrClk} [get_ports {WrClk}] 
create_clock -period 15.068 -waveform {0.000 7.534} -name {PSRAM_RDFIFO|RdClk} [get_ports {RdClk}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Autoconstr_clkgroup_0 [list PSRAM_RDFIFO|WrClk]
set Autoconstr_clkgroup_1 [list PSRAM_RDFIFO|RdClk]
set_clock_groups -asynchronous -group $Autoconstr_clkgroup_0 -group $Autoconstr_clkgroup_1

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

