//
// Written by Synplify Pro 
// Product Version "P-2019.03G-Beta4"
// Program "Synplify Pro", Mapper "mapgw, Build 1429R"
// Sun Sep 22 21:13:44 2019
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/athieka/gowin/SynplifyPro/lib/generic/gw1n.v "
// file 1 "\/home/athieka/gowin/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/home/athieka/gowin/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/home/athieka/gowin/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/home/athieka/gowin/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/athieka/tang/nano/src/fifo_sc_top/temp/FIFO_SC/fifo_sc_define.v "
// file 6 "\/home/athieka/tang/nano/src/fifo_sc_top/temp/FIFO_SC/fifo_sc_parameter.v "
// file 7 "\/home/athieka/gowin/IDE/ipcore/FIFO_SC/data/edc_sc.v "
// file 8 "\/home/athieka/gowin/IDE/ipcore/FIFO_SC/data/fifo_sc.v "
// file 9 "\/home/athieka/gowin/IDE/ipcore/FIFO_SC/data/fifo_sc_top.v "
// file 10 "\/home/athieka/gowin/SynplifyPro/lib/nlconst.dat "

`timescale 100 ps/100 ps
`pragma protect begin_protected
`pragma protect version=1
`pragma protect author="default"
`pragma protect author_info="default"
`pragma protect encrypt_agent="Synplify encryptP1735.pl"
`pragma protect encrypt_agent_info="Synplify encryptP1735.pl Version 1.1"

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
nc1J7iFicHzalzrSJnUqVfPevpUH4Gc85qMlF2THgRFWnLIa2mUrJVQKYyNyq9Bj6OUFNxknVXPm
wM5H2UcGk3lh2q46c9FGdnJ23zFQFT4PGLalZDt6VimA+PeHGyjW3EkoNhPb15zgp6BX4hqoQ/2Q
n1lC8llvUCabPo0+8cK7IV+JH1TFlseHy5IIsHlS45PUI4Xq2Tl4SWJK7duz0uDUYDPJtAZ5ZOho
D7l9Exj3H1TKPGG4NWCNN6Q9d8naRphPr4cJhOdDUrVWrMOQWOVQRw+Z0rg3vxcHnjTH+w87wjRj
+MEWFpdNB6o70wiDBRkGrnKbsH6Aa0E5oWO1Yg==

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="GoWin"
`pragma protect key_keyname="GoWin2016"
`pragma protect key_method="rsa"
`pragma protect key_block
lb7oESuqm5Xj33xH+SbkPEblHNqkyKr6YeknnFji8GRPNidMKd/e1z8m3QRDOvbJqmmWa3v1OfvU
+YRAxHJ9lUg8fHWqqZFXvDD111skWbtEwPDyqk1BG350684edxaKwC7vHsvxViiSmC0oB+HG53RG
vtfYbRyTeYzcgVSaRoBduuY2jZ2R/VSomUsKtiItMv5eQcQuLOYrdPyapIOS9jTKqMpjbQle9IPd
dzTkMqv2uyJ9OHtuGp5mbXKclGnZ48fEuIog7eQbsQWDfuJMDXzkZS2vp1zNIgfeLhg+bfwRXk+Q
fWOtBDqEluCExyoQVYVvxqDDKeTBsZR/irBqsw==

`pragma protect data_keyowner="default-ip-vendor"
`pragma protect data_keyname="default-ip-key"
`pragma protect data_method="aes128-cbc"
`pragma protect encoding=(enctype="base64", line_length=76, bytes=20160)
`pragma protect data_block
PBqtYb3stfi0LyEnj8PY8B8SzEsOw6YYEGv7+fNeHVcO/2/BYB+tit4FiSGDQuMtefjt2pT1aANA
WFntdqRPq/aqBzEUtiGJMYsfcdE8uSicfxhL2z1fkH+4MCH8cRaNcFeAs8ZfJdorQCnU3WLo3Nuk
sZdLAYO81UPFWPHUt/3CygOMm3a69R4QWTAw/UDAbxmZQ6ciCLC6+GSl7qRYLLVB4if/4YHiieMP
oiMfXzAq5y7Qz1znOWlCmKmf6x9PQA0fQJXQZHGzCzMni5RQ/iGFFVxJszUwsYS2LXvBPxgUYpQ8
/o/fZ8EztepcYPvJWRyfR8NNttktWFOMhBUtB36As3mJDwTYyigGLAsZ4KIZHxZ74DLZOoKHXR2k
E6p5wj4gs34Dv2+V2qM9WJwaAQ6tFoDUhNSF+OqIaZf7Plg51EaQfh9lHbod5s7XDbcObkfOqjzj
+wfv6bG6WxegQ92Ltqh3p8MBbSuFyC9m9h5IsTBbh0wxksLOdhhiQCXHBEdKlVG9c3AKIA8+uDX9
OeJPjS9NgtzXmGEHgIdG+wIOml5jHHAftBE+f63X7xrQY0nVmWFrj9aMfDslbmzDpZmIKlWj6uZ4
qgAiPlSZEzP67UcGLm3KIcjRO/Oizx6lbkDWoDtH+h2ChCcQDG0/r6ZMeGEKfDVrJ06pjbkCT0tc
ozXr8yE7gDc4QMNs+vOxEo2LBcTJu96N+9WATxbmw4fXpuzRO9e2PA6n10z8dj6ls4JvRMJYOPsR
pRPoD3cdaylbOibcNOlkQAbiGtzXCKtEsG+9ZbOepsFikkBG47K47BDpIH9I3ow2DAfXOVxY3ddS
KeBwbpAD/Nnx7VV65LiVlFGKySXUJOObuxPgOyiUSCEXn/SzH58W1kSDp59cw8M/U+SFbFicqJlg
hO/bMYqVqzEpzhhskabOHJRz6MqmMblxoxgGFuFjLI0HNLdIKI3WTkgxNt3myCcsDlVh153yyxB1
s85caXSzoBdOhdNsbuVRi9FLomPAeJtDAjQ7oChbDplyto0Ug2wv+iOTR0etrHWvCAr7xYTKhrT9
D3eAbDsJGk+7SdbGnMuUY5ucatTDZiD3PPc2wSzcHC1CyUhk2Pd6LfNwteMqnr2OeiYUXlXX8Oz0
cI6s5jTNkk3WY1vF1ui1ArZZ0vhtKUJLLJrvqe6reqL/Z5tIY/8iP/RuIiaQYY2+eMZ/3fjw5HMz
PROhzUFeg0o09fK76uB/GHFNYk3AFtSO3lSER/cgKKh4JC/ApbKUsRYtZLIOu91OKoMSRPTPycLV
G9IeFvgM3c4pvdy4avIadty6aZfLqbbOONPT7TxGH2iY8xJLxrcaJu6pSCZHkYzpb2/qGFeMwukl
2HcGvvwC8wIB6N+FZTMknXWN2eqgti4D/ARmUOfxcIKeAm7Hu3MbYaT3PaCSwjqd4PYbVe3LtVs0
TWM0B3/u6Tfi67pmeOJejV8PLfnY2+t4pDkRvw53+tCEpjR4UCdgL33hZAaaAMrPE3JWkjrq49kw
DE9rjSsbu731odRde5le2n71miFuRPGenZQ3A9uIkW8ImytqpdugFj1bIaQeAbKkrDAr/sEKAID8
wU7WGilAdtwS6WSTLZV/gkymCDHIx++8QYItK55dwr7ReZ6ODTnupWhFMFkTSS2IViAayvU/swzR
mpOLFlES/cpvRhxvrNg/Ah1PJBisANmRZfQCp7jqKuz827N3MEhrPkl9vWIRM4r49GNLFdzhrt7c
J/arDy4z4r8i8EHXQF+vVtPrsEXWtXInGvsoH+Ss90ubn2s2GHdwFGT9lKI7XRifSd+ajJIYkvg0
7gMMBN28jL6oVdTP8cOB2NwhBi8LKH5s56a9sZEodV0/yeudeN2Jg2rmVWAVyepScM/Fp/sG5/Jq
YfXWW66JnhoW1K6S0vALMtBT4nIrPzv4Ldf6tm/SAVJ0T0IgcPmikwyWAm1kXZFtztaCRAADWiPl
+GNGw/nKuDza1DAPnQV7OhZBSQdqAkIOWsnNvDCUY9NzQdcD8XVzLKKkstfsEs4hj2a+zcsGAgwu
6g3rJNiULZTCDcokWe4Azn4eGBG8yscnBQ/lnEuzG0aPm62HeHun7d4QeXtcT/CU9NbsNqlME9fR
qKuN6PtvQ0BY+iig9c4Ygl/o7tkAG0cR6F4ZXtNNFCTZx9a9fezAamVB+GuxjSHQQ38lnInThl6l
AizUb0pXKZmXpSt3VRVuAa/PYhuyTX/PTBazH+ZyXxmhdEQ3o+kUzVFEveE2m2ndqzKCiw5KkVUJ
L20nQLARk74lSzSDR28fVBJIyLtt+rWKkrxE3d7kfsJOy+F9ZREEr/tqU8MbQCi2+RquSDRnAMBq
0ch4jNL0pbdHBSjX/GGlXgOLA24xM0xLuO3kSqjzvTLohP9yTWTSKPoWN/FA6jWIpuwSeWG26573
wV91I7QByOgry7Gjd6e8ylgsqcF5mOZU8jrQeKJONcbjkABQinV5byMO+oWdtcnUXP3/dcFtwFlm
izzK7kJf8PQsVql72A1iFQTF7bYucoLRxH/Hrk7wgUVm3xPdqOyvPYkLKMWum51eecMPBwxDBzit
Hla4bCr3zz1W8c1AuGET6W6Ylh9SyC6prYMXhA4aLnFAJixDvGPF2o0GlaRYzSxNCpzhoYKNYnja
d0IBK9gliwGXSLhqthLcVgQbQb4dFMLiiXPUdrqrmWN1dbeLCS9c5erPGWc/iGrQ/ZyMxAOEzSla
rKA3eiOrHtAaZNnF+m/wypCXRuxapjzZLuXvR15kNVnHOT65BjztKZNEq7SEWE14/eV5AE7pdzoo
aVo0SZsYhJdwzG7R6MHvpcy1FlSE0Q1NhYluFRJu+6CrbxwU1/fFGjkyfVMDs3hBqglOGaagsH6n
eHBmOD1ts2dcK2FYzNS/TPGoQRGPqN2v2xyInmPXc+PzrV8WEcmM40kOs9AyQOuE1sARWAB9ZByV
lP03RJqYDX3J5xWJ3FUcO8O20bF7PJcvdOsnbOIsIdRaSoIQkwv+9cAL1xLs8jWstPBG/MwJDKFQ
F6DKnRk/w3onsAwhVgB8TI3CmEAl1QSYbD5Gx0/S+fcnxQ13f57NoZtP3GprGLYlr8yK85SbDDzh
A9Qy9pmohBj2wAbe6bJwLgpSnri8mWbzRx43Kq/H/OWJV4bd/iniUxgZW80yAOw8GRl5QNilL9YG
/MLPbfFch4i0EMnbmscXijVesOlicNTt1tvtGa3O7/qH+mYPYl0ecD9peVDC0KnUzIIBBAbBYWBN
lL76MA2XgE34L0w8/liOA6HRFDRdumXfaaOx8kH7efgUxYvz0FwMHHydoinczG7Leuw8khMAwshB
o80Q/2535KTmmL73vZ8KKQ7cUleZBVvfSqKuaXP14sWc9LI1IQ6igL3uzys1NaGxdttKrKgueW9+
hgV+pZZR61V/mbk7K40OTj4vpQbS+/tLzvIKDEuESryBAVxSJCXBWVHIjW6VpPl9xwt9hecNIzFZ
paflmaNv/4sYNOMk+uwiakoGQaHSgv2mJwVxWwenwOei8E4vxJBAAgYuEZ8gjGBx/Y1Xqetf76q8
z8daiD4eV/eygIq92PW0lSmtO89SnO945qKjdg33AqOop3Z9m7WkVWP3pyHo4x7z6Fv/lTXXhYLf
gWjNPCLxSXJT2DpOOcjcj8pPPSV3zdz8PK0qgqpzYrLZyIJDZb8QPzE6swMbw7g9L5P8H/U4AQ5g
Zdc6Qwdck0fCi7aqIEu0WYbzbfab5Qeyzsfwo+BOxvE50OXflY+dINncXPsp5h4ldbfaNfMZxtVf
1YyOSuCbuW+SYr/+03MVLFw0LsJ1AI/etPWZHD3f00ZI3FJa9RtvyRIEeI0qmdvIcgc3V4YgQCRi
3sPv0nQpR3qw96raOe4ZjSlMMurYN/fYYtdmnDYoCRItAqlKzUr811kpYUKTbPAUx5aD4iOTroZN
5ENTwPULNp2SeFXUHn9evFsXgvptK7xKhobZLFytwqnKVIusy/fJp3g8cA5J1nE3WEfmoDIOgAKG
0DdunMCdfzJX48BML4D5j0tnmxlkuZ0eBvQQ6MkG+uCY2hm2w3lZahUwqmV0VBoGmT7j9rXNiVz1
nl7T/A5vkD5YNE5pxvsvOeld4/ZUmEU3cFR1r8SvPI8GzS5xwZ7jrB/M5gyDmbF8RVwzmkEDyBbI
KxoEUSzbPxreUNJBFjOkt1ooxjaExud+nnC3k4BQBuVyZv4MYrBA1YVo0rLKlxoD1zdkvZoVm3Q4
JNz69VyLA0Vju4KxGVNa0/7kADA3cyHp4cmOxpGoRIzjR2QvpF1mbH3hw6wxlLt48Yx3y3RrbAiC
HG5Pu8HUTZbsXOoD9/7CHyWTRPW6bGbAhLN9JzVvyiTR69T4E53x0Zqujv2UXDmaQ6AKP83vDwcD
8G4yhv9ZnlffF0EktI/nPadd83Y2FKXhrerMjmmJzB/ieT6OssTPSnU8NVmhQhnrk9v6FXr8nuy1
+ZUpu1O0pqfRf6QEKkfmGEDvAEi65KDOVmfnyZShk2Wc3L4s0HJ/C4H/6/bYDaoKriyXKs5qMgHw
+Qu/oeuuzpBzg7cFsPv1lL37xia+2V/Dei1MyW2b2ReHbz0qXEvVhleN0o4gkgqV9gGJ5egQBdAM
R4kFTxYgGuv1e7Y+NTQsJBm9wTYty5+yVssLro80/2/2ar0oGo2OlJs1eNEO6dwupb5TNFeS4O0g
ARkMiu3tHKgoc38bYiIffB5WqCsOm1rJFpRs6cKiteVLxNiaaVyol3+r3pKTwlIaRune7uDhoAEI
ZYp/c0tLXumIOLtCq5rrSO3pirS/PBlif8ivSwyuZ0oiFbsA/UXO0WFdmOSG4BFUYt7Pj6zaU7y9
Z2D+V1cDV0Cw0tQuikJ/o5R0nqhJGB9/KmPPkzhlhtB0f/jkbrDa0XA8z4psBGtpC9qtD4D4+24V
M9bZxpWsl04il3mfguW5Ekwm4Ig8EagWWR5MTNnQwHB70f39miQothhNmaFzWeIQfNnQxGV+MU/j
+RhoxiXpvZ72cVduR3DCGbQb8OmWC9Gb0zZGomyIx7xIrInjER/DLMU/1sIjydTSUIqn4zXPoToJ
W9/D3ejDBhbEcltc388VZr5+erW7/QWK2sq+qncuEdIfFUbQXzeqiLu90sEmpjaxltHMJM3HXlY7
Gk9Pl4Lf5SJUOslqfIzKM6kkGuYjys88tc+tAQUoWw/kpj6RWqsZnvnBHwzaiilkgBD6bxJ5CbE9
qSkUgTDrhn0CAEFeJ1RZIOKoArjmP+ucAcVHUiY2LN2gjFXyD7YhGCyi2ng5I+Wa1j6raoyUdwdk
+hw8IS9Y+gkuusVviWLOtX6/Io/+JFkBVKyICQhSPyhThpCtqOtj3Bfmox6wUxICEV5NQsaZ8GhT
2ZxZ8duxKqWiz/tQ8GlyQLv8phIbcFgTNE2tSaS5l/fcuZTauPW3J0QY8s+Q8XnXjzYUttGL9wKk
LCxNUMx0cdhnIE8awuHDU8jynPOQy9o41Rcpz8a5heMAVJREOuw4TwvwFEISoEiR7zh220X8q+Y1
wt5GeZ0fz1unqDJF5agdpVyf9ilwB2m9fbUgQvgY2fL6HHpyWNgmgkrctVstPFGB6NZZkPP/N28N
GZHcqQyQj5PFQlRldFASSB+5uvHkSMeELRyLg+BJsMLW5Eud8b5lF2bs0tTcIh/J1LObiKtHjbjK
ino52tLrfrH6tF65x7yrsLzyWMmgeJnDdyaO1WxeBurshN/ijQtaAc4Z3oV66oepCFcfkaNP6OrI
jVV+m+Tz6EGvwzeDcVQ31A5808HjO1qCAudrbrLCp9hMB+O6egqLJ8KTV6CHqIQlkQ4MvoRD/kiB
UPnFD5bzYCM60d2u/tdRXV1R3S5AzXNlyOltzM2Yoe1LG2frru3smg1KyEbK6WXqYI7UoBHWXEBh
+NsBEraezRKP6R3dGUccr/bQra9AxmlALEqXCt3xQtRH13Al33G7UP6hawzFQG5b3O7niPlEyBHj
3UkBwaZJK18sr3jY3ipb2JO8+bivcO7BW9/veJNKGbV4sKhYy5xzNTXINdwKP2n8B+N6Kwn4kmxd
ExscAfZiLlHKj0uuk90V3TaMLBdANKVZ5D929F0foyrhyqNKlHkaGz5jEaRbsOD1+Wv7BR2ARKMe
cLBUIXTRq1V5CGsD+tX7N77zY7uFyYO0U2CpViAIaOPIdmsfCrwgzPhPHFL+O7IoIn6RzwEGBYTK
8rA/p7NM8sVR/jtJ41c0J4AOeCNyENNfxFkZ1ikEJYzIW1ULS9O1oGU2+e7puIHlq5IP+MqA+fgF
skKnUdy8AbrwD3ORqkRR9IqSnDnaY/gJUq9oBjWi1ZgmfQVBLSSNCM1Nq4txaLSyTzHfSS0SdgM0
B9Lalui4LBv6k5m5qTG+WBtvMF6lelZTrAftRTdVS5ZDmhSsu5A6nQO5k1f1z/fwomC359rtZxmn
9LxqMt0rC/aiQsjvDz/gINGmalIdNBlrCPSe2V3LDs7Gp+3rZM14T24pEjIWN8en2GepzMWo9Qku
nyG05RM4gsV4uVQ0YJwx4u+yktj3w0uwvpWrEoJm6z+DIhk7EcWm6yslmNs7xPDbrmPZrHhwDY2J
u3jvokO1jixOyUOdvgeyz2eJVNCEIxO37BUwI8N+4R4ceBDJG05yMqYNT5Ui51hzssuL04cJJfzS
IviJ8judUzEojsX4HhNDaC5HR8P9RDldjqWPMikk/yPrsz7+6R0e3FIv4xj0HEqrkfLQ0Pe82RJW
2MC5lW0f8uwy7QDC+FmZzz8UwZ8WzX7eC7IEZNyCH8PRKzebIAwnUYMdAnQwLdZdQEt6gv7z/sKQ
DWy4cf0ar3ahlgC5P8ZAgupjVv7wsdxnnTd2+azz/Vy25Cjf6ibDb2/CZDv6bZn4CRAs/lMDVvK+
UFQaPr+6j2agqdVnBnlstyW/63oa10Crxc0MrKJ6oNH7yNSmapBO+8cDGZCJ4b7ZHWsfvCCiwt3/
W0PHyq3rP2jPOthjdWUvUnAIQL20/XehzMHizse3Xw4i1wbHsLsQEP9gAsyDv1temfDr379WrZaY
AyVDH82QpphIKSrl4OyGvtgGNzod/yUk7C1fIqOYzpCb0WbNeznlI4Elpu/Q1hvEp4IC0NglwAWs
PJw3X96B5QudKBzM/TBN29Fm2HdyjOyzjrZqiSdPH+gJBfWXlfItNf5u3++XBbn3H1fbLRCJV0PZ
FYs252qIUQ1ABWGPIR0Dr9EEMNqa6BPa2xptOJ7MIZn6R2Nq5bxuGIAEMun74XAkDSOriiwoh3c/
1lRM5peSvSaUzam6LdKsB5vScPP2Q9Wp0FcbGdSq9F+5B8oiDEI0qcZQ9FuaC1QvBWTZY8br7r+h
Gtqr/pYm+tAUCYwHi2InsOwAMqL48DpkRrabRLBzWYg1T6qKMy2mirMV6snwTL2+/Uw35a9P3wgU
OBiXR7zoHkcSsp0ud7EA3OpslleCRKvG9KfNyHYrCWD0D3ysIZro33bmV1op4typRIr8qDiEiSIY
SzZdqH65vqzAQ/c7jSISCaszO/QJP91YMRsyWHKTAoGQU9AIR5BNkTg4zu8vDk3ml1rrozSZ64dB
FoVD8j/1PjdYRBU40MtxwXG8qP5Qkxn9rBJc6kz3A8qDXWcYaFbLkgmR5vmnzTVZQBEagnbl3jf1
VgiOkPiY5WygV/q36GV8JfykwgnNWHIEMGLxVONB+8waGpBsSbdDoEIVCNU8ZTGoHHVc+01Nlv/t
Yf306Njq7pgQ2DUMZHq9GTWhyPcua19lvhErjhER93yJFKwMjA0mskxOpXeLXDPvjsQof1zOVB8p
93Ksx6U/im6C36VgxQxqAV9uMEiwYIIRMBkDBT2P0LDaBZecEPksXb+S88iLLmWInv6Rj9n6w3Xx
ysW6oMM2Qe/A7rL/VgoXGg2kyUMxcc72IvQh2ss0BNMpIL6qpbzTZb0KnqyGcEBPdVrOwYE67oo1
BsNdjI3Q7w+Qw0SHl96P99dZs6Xg48ld++vqLeS36g5E836ZS/n7FLIoo1vEInh3m+73c5bAXEh4
FqOFaoo9PPB6Jl2IaxuTThaiFsrIHyQ7XZduph3gy9aO59PlPAI6K2JyXz8LRFQji+VBMmCOEJmY
L+TExSmG2RLnU3XaZHjT0Za6CWaikcK2PFCcc1lDA7HLxis/XCpvkWgEe3UM04f3MhNdUpMS+ACh
HWFxzR/1VtZg09nrwrq967+T3b1ItMpCAZ0cZWwZkmLSs/327YSF6vJ7JNESXH9xFlFb7G/6e6ET
KhiSI+BJvE3hfdfybEPz5ZoiM6I1bpS6WRKM+5WqD34n9kHtzhtheENTw9su2aZYCg363KFXVzv0
WvKe14azvDXAWPAxSZ56yP5GjVLeGWMa5vcGcRmz3DyU5woUq0aUeYOv9cyoiK7LjKIu96apuu1J
E6ygukT4K4TgTc42GHQhtSuEVEi0hhRtLamGskrTOSoFV5yIPEOI/AyAGxd3ZlZ2NS2O9nRrXP+L
43VSmijOncbICoRNW5BL6GJB2Ysfg7JHWJls2ZFxaw6T/MYC3ryLhbAhJX1beY00iOa2ShMV+QgG
EWUHaWFwex0mX/6UCgdS41vBvMOz18Q18yqryh/5yopeRJF1l1epk3fl6fqg4g2ONw0R+n3EtNuv
BrnUSW+0SOs7lXViQyccQNZ5rSH0aE/8dkzJS/0GW2Xw8ICmKxVRbKuf6XzwkklwqtZqooQ/L2Or
oBwLwJIdv3eltPtwzPxTTOI+83cR6p7xf8UX8FwNZ+xF+7zvER+FhpNKksqfT0ND0Q0UG3JPfVVb
umWflQyfX7dHeq4ZENoH1GQMGx2MFpbeGNRb9MG4PmIaQQlly+x32dM1AIFBaR0gORVHy7RTsGrp
YidIMJCfP19JLlkw4QmT0GZHLM0LLoMAWbNFKyMlGfASwWo9O7DYr9h4zRP8Im3fJ5qywJip/akw
u09U8kICOKs+a/jdD3cwHVZj8ib26V74NN5g6Q6vwTgq3uswXa2Xhh2ca+1ZPCEoNmSNkPWlCTXX
sFiRibiHcx80s98sYeIm3fD8nQXRSWkkI8884M2pj1LqkRzUWng2y+zBcd0Mn6YngLElmkDqxHp1
/R/p6xc/AUyr+cQ0s71yi8F4Fe1fqDsm7yfbOhd/Kaa5q4VEyrj2IC6M97D9om70hSLZ22dzB28b
2oStoGuLxGxFiyh9fMtE67DkblFGwSqjpRnaj6hKIXCdVqlw4sMpwGuiDcp+aldlKFN4po0ZbNKK
TlFlE1V6z6GuA6pWuyoEddFN72k0IFN3jPMBBnfji8CqmTnQOKON2mzSyVfBy0FkriVQgbZCC9H8
CE5pmRvAL4DXVgzWzeDT8UOEJO97UsuV2QLA6L7ttRmzQF8+81KxamldoD+nGU2mfysGcZVoeyl4
Y/c0HkWr+iWrzLCuTWK9DW3jgOyo2TV1ai326kpiRGBrI8fou2vq/EdpkAzeJxNRWCd1RQhbQJEp
0mfUEwTcOwVtFjWxH03Gu1tvEOx2QcrozGNjaCYFEpjJx6m+fSLzhe7Zck/G5MEFnFpRu6v441/d
OJvo8xlmKDv/1ZRngJCFBjQmz84X1XEXNB8T3OPD3m3i7VhJYJzeOonWZnmJevitFnBUXlGSCIih
pgjfoTClQdAFwhfdAAAsNYwJadJ6Z36bjSN1jk8U5u2A9F5MA9eQFmAZGXzy+wMLVDqywEPkcY58
zZ1bVueplH+3s5pdJ5ih0sHwJBmApbzkK/0ZVtSLXOvc9a2muqEin/+b0oVWhUpEMc6w4o/QjHox
0a3N1tfZUP7dabP82XleFmePqjrzOatyT8JOd9WXOBHUTXzokBOt3JTNeaqRb/F59ijncWGrpwQw
6aOu8hGORzCvT+Pxxca/KErvljz5fU7C/r7rMrOALAIYgu3LazKGsgD7rpgs6fUY8k5L2zohUswP
a8hJAoVYtH9GSyJ4xTJkyKdcG0ZJ7L8m3oPtirdnIA4ORTHsht6Sisg82hviKjicoIDE+NHm9Isy
83Z2Vv082Gxfo+yVLRJffJwfzxlAMGF8oYzecwPsvIN6Caq9Ocz5wQMb01+NytGfB+cCziG0sslV
ru8M6es+ieJOuS4j3d3fo+CHPCxhV+UeoUU40Y/NX4JiskxL5RnFivn9UoHSfsqSRAj0DuutwGn1
z0wQ0bm0R1NRuVJmB0sQeObB9j6EDbpQc/ygCLQTw7VHLXB+na1a5KKaYm2CfMuErM7xwDfard6H
BrWDp0DEx3R84dZyTRwsqEGlCV/UkZe6tH6tLE90rbdC3ZCIV8lHTpML2VzurC4AViPjPzawmu2a
kJg7jI8aZN7bKa+SlI4AGbWwBUCOPr65Eq3iA5jxlLbFFkjc1tym8iCYWPss/VvtPtOQvuxptqdG
ocZii8UYuOM7j4ZgaJGZ7aDJDtWwW7oONEeh7tBSHtC2ZK1nRSR+HGJI00TWUMqUxZ6xhWzpsEvi
P/tZEG2VJeHqFh8NF+/KVIzzVropE6lCHz4SicfNyRqaauX0t0SczR7HYDrG/V9RJXnisDr6BsLU
zQQx/NokuggDhrPR17z5FuQfz4UsCWG/ab9JXmhvQ0Ifyy2fuXPIN9eANeJkhzHqvCaz8/dd/hP6
BqyKwLTrVdg8ZsQw7NU3CoEE2sM2FUv6a9Vuy6kMCGTbx0RLlulr3/0HNYm9wi7lDcIq9xOG2ecS
nT9T3m/jgoQu6bKidiiLj9Zd3mGt1eB8Ukra5VFq0Y2Ct4GNx5CZEKC4EMwtdz2frrTAVClh/4M3
9avB0EWDA/G27P1MZV5D22BQw0dOpa6OJnRUSH4DKr0voMqJFqwfiploS1zap7lpJinacSF8tChe
ElHHqagtFQXC2ilcqBqKrstFnuMFHey9UmQCRhkVypREYb3Nt2AJbkVxYgC3G55bpKWaMluZ+VwF
ftBD2g3ir3jvcro0jMkMxjfbgkgIHuE/2S8ZQZl0fNM3t+sdDH4Zk5BbDQwktJ/jkUA2q8TyGIzI
gN8av1aJPK77Gq5dyHrIeDN+sfmMcT5T/fqOJGsd4hycS8om7xXveUZ+LM6qw+NWGW6yLNq6cBj7
nLck/suirO928CKcNIp3gB3a9pvGB/cdqVf/CkT3IcUT7YfW8mjbJrc6K1OX0bM65aZ6qKp1Oi/r
f12TOVfosHxjPpY6F8QKbPgESwOpiNoks8hAptUrPHGrkUiN9EMiWZqzqV98wCbbI1Vi9qWWRkc1
G1Gk5djgaBRBRXPuyr5cWqAul8rvA8jwNLTjAyu4RTk9iQXZguFP0EKE3GfwQaFqRn+T26cRsQwn
x51yGOYefCfNaWVVv0UCZ+Hxzi69kL8R7PZo4Ll71M+d69STtEbzvWyrBuIdzzcd7dQ0C+u6zk+/
RElo0JIt8MNVKsZ3QlpEQj9xtrRxWCAlA0AjbV/amROcrhPzlNG7UG9c4koeY3NA597Tl4Nec68B
B/GV23CWRcYIe1S70OBdOk2F7coYlu7q5scM9Y6AZl1Dvtkx1shkzpRv1hgKM6whUD/tU6/eFQ5U
U6UJMsheges2We3DkQWVTacRmMGEYpEMbsAM2cK9eq1D1sMounzmy62nERViXoyvcKfT1ynJ61pc
ybngi8imvkuBGJnovZDIAuUQPwniuj45wqJ1Dg4hSyuV9fjF/qS3jGO1NUXilUduVHtmlEVZBpWJ
8sGFoiiYrWDkqetMGK1spxBginitG7EYpbaIraRieqAF/v5M+hd2qVYOssRbswPCbi6blzdk8lPh
Bv+VB4NUOv6ajYCrSGoHymWpQ5kTjvAI1GQ5bThuehIZZl4hskTybK+ue/Bbe6Sot7a69lYvozAw
QJlV+jVFBEUs11NHin7zdVerKV0r148eBy6xxnUsUdtxau6j2brrvyICF3/6URrc7jEBanX7ve2H
XbdtrFsrCtW4KPt1I5X99EtmMH/E3sfLYoIb+IyLZCwidMYdKKx1kSURgalJLeetOHQG4f8WBNhg
CUgsA6uY4ZYiWEjzDDgaZiMUi4xp3gFc9fHFi1wLl3NsWQmg/DuTy87dCqlIBDObOe/tK6DU+pch
Hghzid7RlhBaLW1IA1FP3zCa4ctJj/fKdOc3h41ZxbGFxdeBsLNpYV7VHZBxK4D8lqPDnzm1J5ou
GqYWC12JjZoQxtkP51ATXvYI3xo9BVGtLlpOYUBqHUy5DLFyeRCgrCD7uXp0GXhKDzh3huRJS425
6ByrpjUoZX+YaSN21pEufECUHsjNmjMdPY/ZT7QRryIZd20ckwx0nr1zDUetD7/0cp3hhvmYgw+t
JcMwSsL1hhVnr3MonOisW7OKTVrcjUOIDC0kuLeESKSUHi35h51zGQVTYcfX8PYA2je5GMZB0cCc
lDbhDCags+QPhGnSzh1BOwKlv8pJKBMAtiMUR/UPVsSVFwFXDkTwpPbxDH9DQv0+LQnckSp1gGCw
rL81YIiCWogZArMwUM+5QBr4ue8lTrd0BhsFY6as0OKUciKTgBWFZYZC5spJfUw0YqPyq6A4xVGs
hgacoJ0+O3v+vYYEcJSSYByy7Lqhjc/fJKRo+ohYjkK0cxWm3IDVxumkOrBvaMIDNZdSeOesq3e+
6dN0Jjj+6ZED+gE1mcvLwmk2WhLc10lJvyEknGVeWDahuu+xWxiGIblCQ/Sj4XLEC4wgvCazRO4B
vcpAGUuUA2EcDGiQhZcdx+pxpluicfqGQN05pcGTW/apvkDRApl6LMSsGdXfi/QKppkxYXFSwa5A
N9/980AHRBFj6OdqCEjBbKCAjXopHzxKCIbFY1IujKoo2155aVqnMhs8MrTwBEzz/5MGEIgYq/Yo
RXPuLHu4Z02OnB+XQU3Ze4Aq01vykmg/V0vbQeoXBVZQ9HZQbfHvm3uhAlLePT41Exrr6elLJ8c1
HzRGH8oAwp0NTxbIKGW3MHIr1nRf4JMPl4QUHTnLvY1UkW1TIKMdjE63rGLWOAQjx8uet3FGfMiT
AL2W8/TjrevpfLtNqbKZ3hMYHWTL19kCXvqYmmMq92b6NPO0bipgn4BRdT7g+054AVrGnqTJ3K4q
1AGD2YpTuITcm60zmfHsNtV/+4miKPycvGHpClmpqmEHg5+VIKkeGTrmog9kOsXBDBroJZaVO+wr
InRuH/q4mxSPKzCdS/5qh81ZFa97IN/Bo1wiYzL3W+6D7/HAdOYZIUFvh9nCNpt4XtPjg2GxGu+C
isMHMzt17a7HHWBtM6B2FVHtaYpKy+HwwmdVab58IbDj0KbvBzOQAE+jXvEAv79gsxlNhrh44p8d
4rnpmI+bboa8Lenyua/fp56+2+vvSrzIQdssOZEHZ2VQvIBNxDpBNWUCaJpdpID7KIB3uQ2MQvBW
rCsjKfdP8DI/367UIRvy/lRDY/EeCINaJNFtu2Liq1OIzCD1XEbnL5ahvZveOsf6HkBlUs6vgo7+
OA7MhwSUCoR3qk7doa5o/dx5MJT0TLwtvZLZLG0lAhJ08pEgQzeYNqZ1YNVvhqdSySJT5VGbQh8m
ZuOPNGBnt3xLRo+SEmR2sj+sRVv/MIlMPdPpGmeat8OGECSqbmu8praRlDRNfvsxKFzbogARzcFh
lSDcvhB3wnkrtRz9q5K9wDb0WiEaNTrobYNw4Eh6bSd0b1/aiqVzPlNc69vN4dHTbhbSSGASeZLS
73jCL+IkbAaE7HQZ/vw0d8Zkb0rfhDkvAUCFnraOwGrFAVy+sy4h5Gs3WNlYSKAuwcy0AxGzE1RL
vArRGDqAfXKWZTMMArPGDXUDvvxNmRmPB33rV2Q3jtIR3WYjvHT9UyOfBxCB74NBQW6u01QCRgsl
Z4S2CY45XPQemTcmgyLMaKU5cyMe8pNc5h0NmORWUKtbsmZsHfvURizzvH8dsm6pTQ1erDZ3ULqs
/oEMghUmpzRDKkGq4AOSfjd3ZsFv7RL5ZlaOcGhGMZW9DFDmIyqjEMAsojAuAjmlFt/PHWjiOV8H
0bH+KPV1AR9DVacIVbdDFzI1vEjHtKjzKG6rfqIaMGpTmgld85Bgoro0wDjdfIYVyCTe9QmZa52R
/+XLZU5bX9dzt0/9wRHFWhDCusCbY1shM57IrwW1rENh87/4SURFFkCyxYrqasuS6YZziksmNpGS
vnFjx4UPs90BYyB4WzyUSKjZ4alJDXTio5i028m6/ruh7inrAJy9VgV41IxR+3xTzBn1ke73ooXc
LSYo8o4AnccLGOg8nJS4lQgL3nrArraFZ49roNz9wOijwK8Ag4rb9wpxIU9+ZJDCmY1CDZPPjjO5
qngLPusGQhy8k28COOWA2rzQCySonPM2wC136z/rAKdGq5bsWYSjM207zChO/EZEHVKdDx6hW3Qk
Ec21MTN8JlrDVn16MYcUOV5UqL6LILp1nV0a1W2PGv7ONT0jPes+KZg9EKEiTwNh3Ozc8jU6kpku
e1nx7mNBIpU7rwEDpdrOEU6m0voO/tk+W6LH2H5tcZsag5LpuS5DWyaIdXd5MVYouYW0ieOJzb9/
ErY53mnwlbpLTBpX9S81OwGwCqfhfkJP3sxV/Qq2KeW3LP5y3DdHQK92spQ9PIpIhw6oh9pZaZdM
dsOW2F3gq2vC0NPKNx3bzy3BGcCz/U8cclykGcsqkAcxl6NbrsaDzRsj59uhwmNYt5apa5OzGMSY
1WTBzIeG2Y/0bPskZoEbc047Z7EW1U2/vNKsFEX3JqHwl8JXBW7CpguUOyrgfJ6Ij4luZSSGq9OJ
9Da3FsESO+xZXfgMbjVCDl1xYgVcWoqaLfgW6BiO6DLc3nXBHXCG17YYNkKQc8l6ohyVc89MWRrd
1CxrbWgGl72dxSqSeOiOadwtmI4h/0Q1yMuQq7rrlq3TlQMkq6yjzx29KagAy/HBkM3o8JZ9MXf0
LzRKrFXDVHl6hnzz+4tDPAXsaPYwBQA3kOs3rIjMUzmQDH36zQ5gTchHFKTz51Ypd7gjOVI308x6
DfuvVHHvjwkvbWvoO/XZkdkBOzvmkG+AXamRd0fno+vj0sR/vfOV/YPr8bt0IdBzLFGXxvQR/wH4
OR2onijz+EjQ54gNTbfAbJlxeDU6hFSGB9mJCtv2mji+1MLqE2oMOwus8+ZVsavExE1C7CQGpa6y
zyWz8bnAC2l/+R3GjNY4qJ9XhCV+00U6AYCa8sA4TbYdgPZzhvmpSDD2Oj3jWcJdGNh8tlD20Z94
HgghHyOgG7olUQ237S7DrkKNWVI22JzvF7kXa7cVVV5WSFpd9pLI01aqsWv0bgzpt/6aNaRqiScd
KsBzDCVCC07dZ70z8M4wXVD93CVDLgJ7eqhnq9+YWSpWnEAN9Dt0iyQeC6RoXFVBNbkisWExQtFZ
lLd33SWrKfHPCRU20D8x198domyY6YgbQ8PhWsngjIHnhnQpDLp22s80St2BI52FLFIZxed6ZU59
zt5gEgFVbwp90DL8rMJNOHsXJg/KsBMdiLmmPJdG8IN5utycUATsT1cCXIyvdBi+2Fyo3wooYibd
ygRP8jxBl+mTuVeXLyv9HUKswqtqdKemYSZHJCZPlynq9Ycq++gxJwCcF10UfIIPWlpr3lHGcK0U
aR0Sz4nRJ8Txgpr5Di/MaU992RwsKg6oKq60IdPNE4W2ho3MByE6lIjspjiTlPqbdz8q/SBEytyc
MrQvoLLCElNflxy8vCEMYEuXlYMxP7D5FExMqDRY3G4QlW+qu0Jcz6aS6F1cJjZflbrMpM511egW
QFxW/DJA6ALhmPmdeW4fzbzZcMvSK2U51txUXLmR2KVB8QqPHf/lJPrH/3CLL1M7OqOdK/FBo98v
KBFeM8GuSTOpmWDLWIZhU19qjkQsQTRbEx2eACOHBgiHvbbNKBk2JzjsMHRxOLrDBb0IyzDWk6X+
XYLtH7e5ZsQVzy+ynzFTTrmqxz38ueWvO9LqAM1P94uVUDh6QsHejE3/7XnwvGpzhcWc7YcWZPt/
aPbqd8Zd6HzKAS9xxVqt0vVfP05OPkM3gMRUFEtcJIR8YBwgyKG/BYIm7ab7pVW8ijluaoZ6M0op
VXs/X/o9LdvJz9tZEx2hcGGGHOX/h2zfGQ1ui6AZ47pt3ze94KYwZowgqHMsG8DWs711F779Z/p0
eCIO6N67XNj8twJOSErA9fPz48gXqP2nbNV8vRTwOFXuF3Byf6ChAsmfWUCrYBtR3jaUyMXDRqyI
LAOKQAsyXnrK3Zp863QiDmSdHtpR2OVq4+ICsFwzgybqWN6p12pGYsa4ab0pgUmzVb4qGA2CGwLc
goxTYrYy3vtOL1ofoXmu7rwy8jRWbl4w3Kdei2j1aByIp3lDZuHhvG5F4R5qJ8TsDveaAyEm9w3U
CkPzw4Mp06vhPpbhbaeSYomMnFGEo0ZT/NIQ23bbafOSqnr+uCuT8lHE+Giornn9qpD8SvYStt32
8mkSC0Im3TQT44z2qlyHVG29KMjPHJRgLXy1//bY7VRrDV68gEYdcx0V43QM7ZhwYU0nXEpZkypx
YcdiLrOIv6G3st1SVxNtKjfUFMCiyzBnJYN2qFlm3+L6bM3paHuo0XE2shE7TsdAEATMK5uRZHez
hIXUiAee1ZIf/7dErK2ZpwFNvzExZp6ZX/3YN/rJ5I13hwjefh/eDFaGgFgB4y47dYZoZ+/5B8HH
5PElf/lJFuOEESG06RqGKq3iH19qXlXKGS4k1N6AR8wMBMThAk3kZ0tbfsE47Qzt88vQ/Wx6shFp
XhM2P6t0/lOne9E46FpQpaVsLz/38yzJhY2irpgDJlUP5U+zjIMQeG344BIJjlbuWujbGX1tOiwz
qDaYh3e8t2DKPYbup5uJ2/6p17Im/JPgNi2yc/AQ9Nqb0aG2BdyLjRcEnmZr0WPEP71vBFU385g7
Qmk7nuu23dNd1m9IIqiSIze3n3GTjCfTrfosCb/hrpsFFn8vl2tt0Si0fx81ILxCdfVZUHcaFzLk
x9Z79m105HVBc423VrUv29ur2k/aLD7thwTT5zfaNBd6GtGvlE0ekCyv4R0w/UFoeOedGtgnSGuW
mDJS2N9M1lOUmNC1dp9BVOsivSXxqGXDQfrLVVc7ZC2u6Rql+EF9ziUqXHcDqDXmr2olcxBrWJ+t
Y/JnN8wRgExdUxCvJWWab+Pxq56NzWkQBd8CFbSNY8MKrI+/0ZOEgMQNeyAsDqmReZ7cmrFmov7i
pcgE6KgZRW3ot5SIxxnmQRvnUw8fGCpGAbFqumISyK0tuYQHalIFAI5ITZ0WO9jyxC8sWrxwmkdO
VVfs4J3c/P3nyUE7E71/wJNLkHsNwa54KpMZH2xOIDTfRMz9JsbimuL1L6ViR+ALPS+5dl4YCpfL
N7nNRKtPCg1TH9OnFwAltdwFgRUfOeYyq+a5/LiGAQDrdV/mQtFIJpL41TPug8UjloG0kL3WOCD+
v3b171lkjyivIlPjQmHelJxahEIsISRMDdnXvv4UPFzR9SJmaD9+Q8+ueOg07+UjdN+qxwaOxBRr
o0ItQyNjwnM8mpcoQzOU1Hn3JPCRpVMjsGF6NgEXOcPwFHiebAFYibeSoeDZQr0P2Z49+kP50ios
GuckTwKFyslSiXEukG78VE8MLTnBmPysgSvVHPZlretOXowza0TWQoXmW1CLtpNtUDKTGEz1lsWt
gndwtyp70GFCHt+2nJ8kh2GsWVmtFo/csHP6/6tq5dDpDrNUntIlrEBY6jyPbbxSWH5uHx7HlP8M
66PheYWnD0mKFAkVuNkEWhp9kTICacaSaCkcqAhw+tDjJZF1sgjCJ+h0jvMuFyBM5hiBbFin+d2a
8wYO6+Nf+E2nAuHzRrDU2TnReVBk0JvTZF5AOzvJ1dlTACbbpZUCEnv2XlVdMq2vqBBRYjqI+UZ2
6aTAxzIZ/VA1m0HcNMsempvs+rQpFLIk+yeJAy7x+QaK1IbR85HCLXB8VHZuixjQKig2xOi84Gm8
D/rK4ZKXVQ/d8F4jNLcCXMp5n1L2oJ/VbCb201fKcsXLzHpBKuKoh7GeP6uxWA8/4wPjxPFBkELH
6SKMGrvJfO5Dab1R3Yf9ZjGd8xkwD3Fhv4dtTQOP8eaIyQoMTxdJFTCjmBA7tOtZmE2vHX0B720S
f3Vk5g03gXjqCT1j27McfjOjxgtfL0JST2b55FiNfmxgxg8VGvW8p9GfxHKRbDC3ExwrrO69E+r5
lafzvUYzEY+i7MT3nV9gQESCF5jrC1l5jzv4DvMHA9ASHdQqQgWllCpxlwQbXXMSxBMUB+DAVPUS
fQDdA2fzeElNruE3EnPkVTLPI7cblo82CBjnWyhBuVddwzhhV7SgcqjKSaDKD5TkdWgPu9l2c7ow
Ojrj0WF7MI2FHZVmMfgFUbweqZLpYhbVPYmbwQeMrDXQ6razD3pnvFcwesJu4msDLZzNXLRUGmIU
eGLHSfdpOBq2n/3fQezMergy2hFQYIt0jptJ01fg9Pu+SHu93L1fkCOnrNpwHgBjeqOAmfWkUXXL
toCB6+Fcnc3jmUcrQXH6aHVKc4v0rnqQV85YWo6HTbmqcrZwMjh1sPDaKbM5mK1jMtIMbqOx5XI/
oE8QL4T1mzfuEIF+mCYDOLHc4MQgaAB0rytyPkvP8w94Orx4AuTsHMSkTEqPIwVO2F+Fd692fDjT
OCtI3yNKSCWFxLctrSE4YShZnJzqkkJceFqrGNiYt19VoZ7yNnu7bJhhdhWtrFDlXkfrVF7xtJMH
pG6uAkGhXrVa4oIdM4QpHOVrrcjJoZ3Yne462PX3kr0RjV7VF5xV8BaVNKO4ESc4Lch8oGdzO3AR
3PwWXn2hoDGvkg3ujOT1fTnQJKIbGBnz3/OYOtZcsWoTFVwHsH5tVZTe72o9hvFMFalZpoOio0g+
9mFhexVsVdmtseB9S33vypMHatz+FuuVhl+dekcR1zYjmiMorhYuqJll0i8kRSefiWbkngeuqieV
yQvGkVhnREpgOg4MXhDE3fBRHXip/6nSsn2ecTI7/rx4LvdzX8H/ekvXIbolQlQUVukZaJEH870v
apWFNzJ2Vbsa8eX9nwzBVx9RGm5oX7J65qkjSdyhK99GrpW+4F/XbLzNu8fHQf4nOE+JHXAGUcZo
TkX4MSVjkb538bf1bgmygKK/jEvBTn3EIoBN5/DfxfyDKiSVq8ctvyzwzod33IX4kkJD1tcqZ6CU
TeqBZQjjr7lkaylFZQtfn2YbgFxrw+VWajDDTjPWtWQ16WJrhsjbmBEbadpIeY6gUUabLo2EJ3jM
cPJcHDsBs/Azu77uW0eviKRn9hLUQslAR7dBF9T0MIbFQwRWfZYxZ54wwE9I2yzhhw4FVDXEzrNc
x1Sibasx5seLy7/jwcJUPVLKETRYb0RqhZoc0Cn9tLCGocEM1+NmO2VPuJEI1XZxv7HcxucbRKrg
+udts62GHsYZ/Q0BeEchLUdwk4gq5tyxyNXO60onaI+BJcsSsomh+P5dK0bJqnJQV+C1J+KZIlCP
XU4fdTXWJCNdMLOQTCkc8UNy71QjKUiWNKsYExoi99Ba6Hl+pkXlwA1XWF3VHQcYQ0xOaqf2yWpH
o3j99enUEFXdx1dsgvoR4uNeZmxJvsxB5akQ0J1OdTJvl6/PgTbIf29AR2bpQQnz7k0phXC9Nw5T
Ug9b+rUiFbHyg56LGu6A+spyBRsFB7iT5A8ihIBO9HiDviWi4U0+asQVIA5Y3JcjDSJoTz29rNjA
9G5Yyc7fhNt/SIP3J2PDfnlgXNIxljRFmyj1KLvPJbTsG34VaILG8JU0qGuL59ikKJZF6KVeT9xf
UWH1mNbOjEeN5XIbg8VOncvGX2pvB6LMMFmxdvjQy1/KXaeji6zNOA8Df8YyLGmXOwd+/87P3y5P
HRpRYAYYexu4pvIQ3rGkcAHfJCtwr2JxmCSP8cL2lcbMmNosbKPeu+fpPuiX31heiWKKX8MkedK0
xq43P5vxBiQKJP3z2vAWGvYE1xa29juSDM1ZTF9K1M8y+XGOY2bN8DtnBrU/OAWvuXPZKFC40h1w
ZQ6JjQI0qUDt5/yX+kvborYYBxmK77OYAPNzGTgMjPkwgHCksA7LOto01D6yjzKJr9xQm3Frb59n
k+f1n8O3iDiseEKtRPAig6dgnS2PUuYqPhckNSsE4EzjhUImY1UMP78ngTk0NAbkhZs3nyO6g/RA
2VXvRcYMznXK8gyxOnRhoKT4ud4fo25LWZrbvkvLMEgWZUa2BswYFYKF0YjEjwQbluEBwxyXUcd6
1u3qNUptqwzRzI7jLpN+MvAGel9qGUm8qTYCcyDOfC3nY98aoI6Qq2DHRRkLwHBetDPfUSbqeNzz
7FeRYsun88Nj7L+2CNyCxULi8ByWv6zIy6EchlYalaccSfnNwqUilN6z7bK3YTVYipca2Nzyyo8G
530IKZzw/aLWpyxtVVG40am6hvzO7+bEfdvBt0YZcPz/ehytBc+PTA5s15uOA9G2E6DmsptJ94zW
DfNjrNcwMP0CxKhH1I7RI+gIa10+PQb/rn7AVoJ0bzkMjq1iOiavJsnrZfrvKU4gx2qewo5slC0m
YKEZ8ONqYOVGzAplGqlpf29EgHdZ4vdUNSAz/40cWedl0O9EU7EALcLI8g0E97d2KmGOEGTdzjCX
6SUrKa4K35DvQQEiZgS6aoByivQF5QjW3eln/U33UIYn3m3J3P6KudUKLufRuIpuX8V+80zAwzPc
ejAWBpRL1yWFyfEFU5JkuiJSwMMr9JlCm69lQT9BPgv5qt7pNVCUJAsPkp7oOeGuIb5VvqogkTyu
EIfFnpy4zZjcxG5jiylpf/OMGoisub/AbB/VzbGC48ZnlXxgXs9CAEWwKZQOoM/H61+RrAbZ1VIy
QdpN5J9GKjvJUPjqap6o7RvR0Wc2iOEMQtYyhEdkz4ddHXxIK1RgeWHJWIx49TasEpk/tUEFOrcL
Zv7bB6Yu1+Itio9ULOCBqNTlxcWxRxB87h93VMwW/m/5GAgJyEr0D59vyIBByUVxU1tJoAxUbTrY
3xW/fiC/WX6OF/he55VKuU1Wn3uX1F6pw8FEjzAEAvvBEkJ75iuedJ6JoP2aw3M852Czgv8VF4Xa
e8q0fAwDCjUwUS5APRTeBRpXHAwceWiqGs73rS1AO6z0JELwMBIFhdxHwsYZP2WTMNrt20XK/0P+
FwzSIViZYyjfB7JlmQc1u0qsUGrIPkk0mcVo7g2ujQYIwM8qPVHXpTi+0x6c5A0Fp/3tgu4D4zNx
fL3//+xVDsSocINiuOgoCCZOU1yi7pCMmJYWRJD98Fny8bFJYOgDKuWyMbLmRninFco1mvSoQK3d
poPY1BgfoVRWkcBJ5YbmYziG2JR6vySz/uyB/DGz2MEmcy+nJd5+D38ZRFLg+lY5m9wymoC3Bf1P
dmCecaqJ5ZLm3yUZwTEtd8SI9CuNkR4aaF8pcU67GTphON3Hs6qAm5mgt8hUai0QnmI1fnWfbsYS
4WJoMeazemJ+WD531VGfUyUxT6srBuEi9G0f7Ya/wUGWz8Lf0zBW/ME8SGKxo6Ox9UR3mqX+Iivr
XIYPcd3t6kSKXEvFkSyegrt78LZhjhb5B2B2zAA4SSs2qRoINWvjaXXkZyPh6iW+waiM5phnryh5
EAuow6JK65Q/EbhyPsvc3cpMFZXc8AgRIF1NRZeNe2BfhIuu0m9Sp585ovApMG5amw0B8BZNicJP
Vl7GMavxtJxA9q9wK6TAIUXXfww1NkiwjP9d4c4V0QvpOqx/F4FIM/CGyvN0Np5BNcCi/AgijEcj
sWJu/8y4zg7GYXftUyl2vRf1miHaEmzzHLKGyv91/wtyTq6KmVHA0jdOwRSh2mMpoJ8t5KQb2d/4
48hkCe/pm5B5I7iv3EXRo2r/st1R3VNutIX14/sOG3V+rYLegYkMu5NGr/N9bdaHN+eZiyqJYhMk
wDZ2Z1VE0BtZoR+raT+Yy3/5qFeEM5HaWY7nurtUeBqpx74Lxgngu9SKWg2SWtEv386rurUMQsO8
qVEmBL3CsTMXZ2y1+lzJB7qngsglfq9hqFICt8sfbAQgmuG+vk0/W/Fpth0gxkI45UUgS96fJAkI
aTzKnijfRajZW7/C+SHtGZn32uwQxTfyMSN01WUp63pHSj4PZt17iXoZD2Mk4Nsjzx5bZ69NUFt2
fG/ui90HqjreeYgOOquXI5MdyxeW1KcvIZt+eo4n+EqS2Tzz4FbCOompizkmwmPNK0+iIu4aq3g6
rxs8cR+8E4qs8C8JCZ7HkygO/HWuO8s/a0J+rWLCz7dTdrMQjhIB7/XLRpGUmIpVvCtDD0GxcD4E
ppnDuWFHt12zdcpSYdwpkqW5MjUSe0oUWeHIDt3jNvzsyUzXXugOzKaMUOGZ4GT8SqQUUVJH+tqG
4TIkiFiBJTlpvHn4nSq/Y88L+Ja95+9kvdT36sd8wSfmkt4lRA9tPsIOIqUHBxIOoK9VxGBoqEzE
UTgNOyNJTSwE6bW9BPj8p9TJzcUqouw2cKkayRPnAzJ+/ucdi06yDHFgOPLm5bAOo2hQCgxuIvB4
w5fv9GCl6/lt+nJ734ecgVBqZvNvU4ZSxdEc/vWVd77LDmwi3by0/28IZ9hxhUTVzrY4bdrjrM+K
n2Vg31iIzuw8x5sH/b/xGx/20YHOLemYiFCMXKRYWOQYCFNAoQEVGq0oaZr2F8HzygoeZdGc4Ui/
6wAiOglzKp/mT8ieV4QByZsno3nYP+BY9hdIGB+EVRw/42mitv2F5ORgb2Zgj9QAiXrtYIQ7GFcQ
JEQVHh7N2+UM9ABAg+QDrAabwsXsBasjAUvGlUt/fFOzOqTRPKuvIAbsOx1rDnqexgCWKIhDs9Z8
GI8cZyrJTFpFPsaGlUC5VHpSCI9B3JZ0kCttlPOUf1Qo0bA4SWGFg3GcRWeiQT9qdheyDSTy0Oas
ISC8Mb+06rLJ4kysTfMqYAeBIUCwyHro7y2GNjE/AD94UZafDegQZfHSWW8dKD/Ibn/qFryRbUz0
pXi8duozvakrz5r7Fpo9cZ5291fDE5yBgNVfH6eM6tcPGUIui1EQdcA5iGhmnyMCgDPBsaPgEjjV
5zpuUuKw3uAFE3ljhUffJhVlsdtJ0dDqCSH6ptCfTA59FCK0Ls1SQFNIjq7sXd1wbELrqAQFrKdj
yGr8RmlUda+P3Ncmh/Rd//lKateRK3+vTZOPjNr6wEphc0BhwUZh+iweTKDsYdfFPPA3vcVgkhhW
euWIJeZ8qtJtOLICK8Hd3zhWUrut0Zv7L8pqGgpbSGnUjsYVAOfTQdf//BDWykCeNhiTy7GZ1XRj
8Ff5cBE+rNNivJLwSYnke2xOrmUXMQZJTAYqSf0QLSltruNMJBcaJWdUims4ob4GgLzIFRl7SHaV
sYk4gHGcL8DhKTjHFbPitzMCf8rrbhqwsYfigTYiA2eY+v+l6g1eou4HWKVKz24KsRim0Lmo4v3w
oh5HapdmZdyPDMoqWPMy5B/5MZ5iFp8LKL05m2Kd7Ea+w7wIDIRiwYb6w27AErQeENadhBVagXuo
aW/ovqhe1X59PsbdYQbh7HWP7d0g5n8vJvEiC0n4TWSr7lZcIPPJ+zfSEyQsUBVEi6XOJVooOCld
N4r/UvIJasajWSIsugrH9PvJwVhcPAm9VFu2nOpy3xwG9z+jkMc1mJKLDtXwvCNfY7AY3Ri9NX5x
4Gw9evl3KtoHYj+n3Xw74r1I1b8In7wSk4DoCpVkLql9fz9gGniXWmHla/pVRf4TxHRC1pwMxNX7
p6f/NC/Ac4CSP9C8/VcDnLkYdHJy5FFEnb3fdrY8PXJsshma7rCsUog9/jFnYycjupFI767UTKB3
TDJijQPvJGeff7rqUFpu0I99FSeMpmkDFomM+0xug/NOy/MLV8EHpyur2WkslbnEfPj7iWmWJAlN
067jD7xj/DLvAbizzNXGDfxYptcXtY2Z5wZIDR1xrKjSj6MjCu/hNEXe1Lkza8jGAgP2Vt+ibGsx
gz/SMzhCxcffg/PRrvUhPou3Tl4aoi2rvH/WjNoDpHf7sOwq+AWuIEft/rXp/tbB9CR1ge//UBVi
DwDjWNcs2ndO14HAN/y5N/DhbXNF7lSABraAy0s2QjXZe13kz60/uTMZwBOUZ7beUsE7OKzJEtsz
8NYO+fydg9iO0ttFmsqviqbf5ZV+KB/tuWlwsbdiGMm5si4JKhCr8yUr9M5DlkXutDXFFQR5Xhhw
JqaaMy3sXoHDHD1I30PT24r1bKI/3Z8jS5cnjf5XMCIcmQCxAPfJuNow3hkru1QQgmZPNVry69zb
Dob89yoP4FrmzezBZTttMhiVedRm1HqheRxhqDYBzGtrSkE2+WO4f/i+HPzgrImP70EIc8QinEMf
Hbr3QSuHpSIanzokT+ZWx0Ix7qp10KtYq5EAWDo+6kQ88MxGkqERgsiH28wmO6eCNpoSNDgagJBm
iM0PTWGYTcmQ7aa+TXVna9V+aITk+j9ZcESMcNPIMihB36BBuLNTEWxeiZU2QcQ9R8wFvarB3zQz
FwfDewpQGXdYk6sVjezOXU9uKByjS21nkVrOkzmXOcdpa13lsU6pIzAPKz7ZlFEzsHvfT1Af1kFl
8P4lVAK+mDSCpPzY5ngbmSRCBUXLmfRaq7Rb3AhPGJ86JEpCT7B63J5lfstf9lFE+HUh1/KcolR4
1JOBTcqJQeqdCyJU4J8EVGJVzIpmQHzyyLumzwj3hPjpZE589LzZHFlBvMw9OQiFiiEoj2ta3Xbk
eABUdg6ojr+hQ5mcBRL1li3IlaT6hE1hD+VgdEs2MuBHCvjZGk2RJR3gbBAcMz+aaQyrMGAMk0kn
Pk7SmcdBZQ7kZFAqJpbutT0EGxhGuqyd+EpYl47I1XBW8ZUewhk/BoFhbIwOq1wXS08okcjZr2bv
6ua0Df/3QXpHfkd0ND96o9ym+lUQ5brQTxkgLJVNFd6tYpV6YzyCYZGC1hBnIAumtH+M+RGz9Uo1
jsndVmCpAGDI3Zx+c9a4oc3sFb7iSzW7eqxUWAVngLsVATzGU9JRVR/2mGBWUVeXIeKqE6ymQ3pG
4bTJMgDoelogEtkYXqLJlrdDFK2BcpoHl1pLg1Sr9xjLmwc1/kI+edAEtMW5D4wVy0ow6yFq6PR6
3vOlRWXR4zxu/sX0N6FCw0zz40GL5YKjc6CeQIV6FUAyQ3eln2unC1jScmTPQy8ZVMFiYt4kklTr
6oglODv9EImKJC0VTs0IBmdBrpR/GDPkWSSzwfXzCX+j8EErcFBVeSdsMrPF+n6P81ku+ekoOGCV
haTKmnzGOEEnXAEgzrjRiEQ6TgKCv29yDyWBoMfQlbWnyfLN8QRniQW/NGDz/TwmkNXGCp4U3wts
P0OfofQPo3UXxK9b7UqMdIJ+ad/zncCSpQXiz/KmJi70pYbqAAOq+UeOXrmp16oAdF4cBuqHMQFj
SrXCLdi5n7eoQL79ety7UZ13xwmCYYcRD3Tb5Y2Z5BoxoLrDmcdJiNb4JRG1F/gT01JJdwBCZbSF
ctLPBpW1IFOK3gN8GTIhlnYrGmeuKO/WRFWMeTg70/00wU8g8o9oEykdM/jCLvoTCNtKN2WrVEAi
Wv26wpHsHW49HtUae10r08E3G9q74SBTlYdXrSTQ/o+oXxJ+BTpio34x2p/RVKM+0y16YvrSDLl+
/OvdOQ8PlUbvN6x+lFFmTY/GIiuFuCqLJMRoU0zCvboNp/9MQKVN3W5qAPInmmaMXSoM1SZuJnlL
LgU8yJMju1UzbsMOWH8huRCvXjHOHcR5yliZqRkzMAqreoUsBW62byx9rZM3rnVdn5lPcSg77FEt
soK8soz7CnbrEiXEmaIllC/eKeymePw5n4aLr5lW0wBXJ7RJOXUWC8PWw2WZLrtIdSNsJYEz8CBI
wSVXClMqg1RAvTz2see/LYlZWpiA8PDbl3Zuva5chPBMZi+M7HwcrP35HD2K6kgzECXrC4sgbbhu
Gfmdqzd1AqvUKlNzhGKwRYCpZa+K5cMHvlbynkiGLvTczkX1kYWDuUrZJRK6DxJT0qVAgo5PdMy2
hxrbU0CnDo3ob61ONktY+oJD7XtFPOZQzWNcCSrg8PGs7DqVOYTw9kLClKq7SqBjuq+OFCgyfuyJ
hnjtqtqpdrJzXJBcDET/970V1ld7+B/jqdIV+ijVrzIBNqPnHtEDy6fKxxukTykJ8CZxBmxkN62Y
oQd0Q5DrMlLP/ECWtiuV6d0lq57k9+DSEqgpMvyT4bB8eX06zUvb9IrW79XRzAE7HK8PHM3w5V5i
Tavt9mH0u2DCt/SGu4yKaXM5Gm8RcLGeb++USOs+zqZYGWNmIqFmgtXt7fQ9GgtliMA5BorwCby7
e2xmfpVq74Z98QW/9TLfK76/eIzbRk/3VbpgdAnhfTfORd/eHcspMfiiknrVYStLu1qAigFvGeZ1
P9LQuphuBl8NPaBU1j15+Xq0B6zsxoQrdKQKVh75P71O2oRyrR3A9zwFW/tc4g40OsAHp+Q/SvYp
L2ddJNWPEhQqWFyCGBH/ixRZ9PdYON4WIHZvcp9ihMRqiD/WUbM/n/+zNj7pQSDMu4Y3lr4vpUuO
EraZf34xm+85LNM5R1prr7jByZfLwJ5xsRjQG5hAfrnRS+ey6RRLw8H1+ph6BOdnTFqaBVufzzom
7eq0k1WtJlPt580cE3CPwYMW0lLtYxx1lurePzXS5kVk/ds0S2pulNnumTPHYrpCuv2naROE/ybR
EEw7omqwyLnaljXxCuX6f/Ct8s9ZOkKCyVrRXsfOnNGnrpepFTF3oIP7CPsfyt1CXZcbjvT3hkxM
2zRUDFmKO2s+v/zg14YgRR+t6Syv2IlxapmrBwiJ6Xm3a5LaCYidbytqkaqXMhhO0B+Sk1NE4tXP
qh/ehD98j6zfwv2hUNcLdjYNUEgz965qWkA/l8ZjYJgnBbHeoOYa
`pragma protect end_protected
module PSRAM_RDFIFO (
  Data,
  Clk,
  WrEn,
  RdEn,
  Reset,
  Wnum,
  Almost_Empty,
  Almost_Full,
  Q,
  Empty,
  Full
)
;

/*  Synopsys
.origName=PSRAM_RDFIFO
.langParams="DEPTH DSIZE AEMPT AFULL ASIZE"
DEPTH=1024
DSIZE=20
AEMPT=32
AFULL=992
ASIZE=10
 */
input [19:0] Data ;
input Clk ;
input WrEn ;
input RdEn ;
input Reset ;
output [10:0] Wnum ;
output Almost_Empty ;
output Almost_Full ;
output [19:0] Q ;
output Empty ;
output Full ;
wire Clk ;
wire WrEn ;
wire RdEn ;
wire Reset ;
wire Almost_Empty ;
wire Almost_Full ;
wire Empty ;
wire Full ;
wire GND ;
wire VCC ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @9:91
  \~fifo_sc.PSRAM_RDFIFO_  fifo_sc_inst (
	.Data(Data[19:0]),
	.Clk(Clk),
	.WrEn(WrEn),
	.RdEn(RdEn),
	.Reset(Reset),
	.Wnum(Wnum[10:0]),
	.Almost_Empty(Almost_Empty),
	.Almost_Full(Almost_Full),
	.Q(Q[19:0]),
	.Empty(Empty),
	.Full(Full)
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* PSRAM_RDFIFO */

